
.Tutorials {
	height: 700px;
	background-color: #1CAFA9;
}

.TutorialsHeading {
	font-family: "Futura";
	font-size: 2.7em;
	padding-top: 60px;
	padding-left: 150px;
	width: 170px;
	color: #FFFFFF;
	height: 60px;
	overflow: hidden;
	cursor: default;
}

.TutorialContainer {
	float: right;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 10vw;
	padding-right: 15vw;
	padding-top: 20px;
}


.TutorialItem {
	padding: 10px;
	flex: 1;
	flex-basis: 25%;
	text-align: center;
}

.TutorialItem > img {
	max-width: 247px;
	max-height: 200px;
}

.TutorialItem > img:hover {
	filter: brightness(1.1);
}

@media all and (max-width: 1066px) {
	.Tutorials {
		height: 1100px;
	}
}

@media all and (max-width: 712px) {
	.Tutorials {
		height: 1550px;
	}
}


